# PostgreSQL (production / Docker)
DATABASE_URL="postgresql://bbs_monitor:bbs_monitor@localhost:5432/bbs_monitor?schema=public"

AUTH_SECRET="changez-moi-en-production-minimum-32-caracteres-aleatoires"
PORT=3003

# Secret pour déclencher les checks (cron Dokploy / curl)
CRON_SECRET="changez-moi-cron-secret-32-chars-min"

NODE_ENV=production
